<div>
  <br/>
  <h1>Cadastro de Funcionários</h1>

  <form>
    <div class="row">
        <div class="col">
            <input type="text" class="form-control" name="nome" id="nome" placeholder="Nome" [(ngModel)] = "txtNome">
        </div>
        <div class="col">
            <input type="email" class="form-control" name="email" id="email" placeholder="Email" [(ngModel)] = "txtEmail">
            <small id="emailHelp" class="form-text text-muted"></small>
        </div>
        <div class="col">
            <button type="submit" class="btn btn-primary" (click)="addItem()">Adicionar</button>
        </div>
      </div>
  </form>
  <br/>
  <div id="list" class="row">
    <div class="table-responsive col-md-12">
      <table class="table table-striped table-condensed" cellspacing="0" cellpadding="0">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Email</th>
            <th class="actions">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of employees; let i = index;">
            <td>{{employee.nome}}</td>
            <td>{{employee.email}}</td>
            <td class="actions">
              <button type="button" class="btn btn-warning btn-xs" (click)="editItem(i); staticModal.show();">Editar</button>
              <button type="button" class="btn btn-danger btn-xs" (click)="removeItem(i)">Excluir</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Static modal</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="text" class="form-control" name="nome" id="nome" placeholder="Nome" [(ngModel)] = "txtEditNome">
        <input type="email" class="form-control" name="email" id="email" placeholder="Email" [(ngModel)] = "txtEditEmail">
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-default mr-3" (click)="staticModal.hide()">Cancelar</button>
          <button type="button" class="btn btn-primary" (click)="saveChanges(); staticModal.hide()">Salvar</button>
      </div>
    </div>
  </div>
</div>